@import url("http://fonts.googleapis.com/css?family=Poppins:wght@300,400,500,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #e5e5e5;
  position: relative;
}

h1 {
  line-height: 50px;
}

h2 {
  color: #091e42;
}

nav {
  background-color: #fff;
  width: 100%;
  align-items: center;
  min-height: 8vh;
  display: flex;
  justify-content: space-between;
  padding: 0 155px;
  top: 0;
  left: 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
  list-style: none;
  text-align: center;
  gap: 32px;
}

.nav-item a {
  text-decoration: none;
  color: #344563;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  margin-right: 10px;
}

.nav-link:hover {
  font-size: 17px;
  transition: all 0.3s;
}

.humburger {
  display: none;
}

.socials li {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}

ul.navbar {
  list-style: none;
  margin: 10px;
}

a.logo {
  display: flex;
  font-weight: bold;
  color: #6070ff;
  text-decoration: none;
  align-items: center;
  text-align: center;
}

a.logo:hover {
  text-decoration: underline;
}

.introsection {
  background: #fff url("../img/Header\ bg@2x.png");
  background-repeat: no-repeat;
  background-size: contain;
  border-bottom-left-radius: 100px;
  width: 100vw;
  min-height: 120vh;
  padding: 0 240px;
  margin-bottom: 142px;
}

.introsection-text {
  padding-top: 300px;
  color: #172b4d;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
}

.intro-name {
  margin: auto;
  padding: auto;
}

.intro-details {
  margin: 12px 0;
  font-weight: 400;
  line-height: 24px;
  font-size: 20px;
  color: #344563;
  width: 820px;
  height: 100px;
}

.connect {
  padding-top: 200px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 920px;
}

#intro-connect {
  color: #7f8cff;
  font-size: 16px;
  font-weight: 500;
  height: 24px;
  line-height: 24px;
  margin-bottom: 16px;
}

.connect-section {
  display: flex;
  flex-direction: column;
}

#top {
  padding-top: 200px;
}

.socials {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-top: 0;
  height: 20px;
  width: 20px;
}

.work-tools {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  display: flex;
  gap: 8px;
  margin: 24px 0 48px 0;
}

.work-section {
  display: flex;
  gap: 10px;
  background-color: #fff;
  margin-inline: auto;
  width: min(90%, 70.5rem);
  border: 1px solid #dfe1e6;
  border-radius: 20px;
  margin-bottom: 142px;
}

.work-section-content {
  display: flex;
  flex-direction: column;
  padding: 48px 46px 48px 48px;
}

.snap {
  width: 100%;
  padding: 24px;
}

.about-self {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  margin-inline: auto;
  width: 100%;
  min-height: 80vh;
  padding: 50px;
  border-top-right-radius: 100px;
}

.about-self-content {
  display: flex;
  flex-direction: column;
  flex-basis: 10%;
}

.card {
  background-color: #fff;
  border-radius: 5px;
}

.card-body {
  margin-left: 10px;
}

h1.card-title {
  color: #172b4d;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  order: 0;
  flex-grow: 0;
}

.work-details {
  display: flex;
  align-items: center;
  gap: 12px;
}

.work-details h5 {
  font-weight: 500;
  font-size: 13px;
  color: #7a869a;
  line-height: 16px;
}

#work-writeup {
  color: #344563;
  font-weight: 400;
  font-size: 16px;
  width: 480px;
  line-height: 25px;
}

.counter {
  border-radius: 30px;
  width: 8px;
  height: 8px;
  background: #c1c7d0;
}

.work-description {
  color: #344563;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.tool {
  background-color: #ebebff;
  border-radius: 8px;
  padding: 10px;
  list-style: none;
}

#intro-details-foot {
  font-weight: 400;
  line-height: 28px;
  font-size: 20px;
  color: #344563;
  width: 447px;
  height: 180px;
}

.work-button,
.resume-button {
  letter-spacing: 0.03em;
  color: #396df2;
  text-decoration: none;
  border: 1px solid #396df2;
  border-radius: 8px;
  padding: 12px;
  font-weight: 500;
  width: 162px;
  margin: 24px 0 24px 0;
}

.work-button {
  display: inline-block;
  width: 124px;
}

.work-button:hover {
  color: #fff;
  background-color: #396df2;
}

#resume {
  border-radius: 10px;
  border: 1px solid #396df2;
  width: 200px;
  padding: 5px;
  margin: 5px;
}

#resume:hover,
.resume-button:hover {
  background-color: #396df2;
  color: #fff;
}

#language-section {
  font-size: 20px;
  font-weight: 500;
  margin-left: 20px;
  line-height: 24px;
  display: flex;
  color: #344563;
  margin-bottom: 36px;
}

.languages {
  list-style: none;
  display: inline-flex;
}

.language {
  background-color: #f7f7f9;
  border-radius: 10px;
  margin-inline: 10px;
  padding: 10px;
  color: #253858;
  font-size: 15px;
  font-weight: 500;
  width: 130px;
  height: 120px;
}

.language img {
  width: 48px;
  height: 48px;
}

.lang-arrow {
  border: solid #acb7c3;
  border-width: 0 3px 3px 0;
  padding: 3px;
  margin-left: 100px;
  display: flex;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.framework {
  padding: 5px;
  border-bottom-style: solid;
  border-bottom-color: #dfe1e6;
  width: 300px;
  margin-left: 12px;
  margin-bottom: 10px;
  border-bottom-width: thin;
}

#framework-section {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  display: flex;
  padding: 5px;
}

footer {
  background: #fff;
}

form {
  background: #6070ff url("../img/Header\ bg@2x.png");
  background-size: cover;
  align-items: center;
  text-align: center;
  display: flex;
  border-top-left-radius: 100px;
}

.inputs {
  margin-top: 12px;
}

.form-section {
  text-align: center;
}

.form-header {
  height: 56px;
  margin-top: 103px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
}

.form-section p {
  width: 569px;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin: 12px 435px 12px 436px;
}

form ul {
  list-style: none;
}

input,
textarea {
  width: 327px;
  height: 50px;
  margin: 12px;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  font: 1em "Poppins", sans-serif;
  padding: 15px 38px 15px 16px;
}

input::placeholder {
  color: #172b4d;
}

textarea {
  height: 170px;
  width: 327px;
}

button {
  width: 140px;
  height: 48px;
  border-radius: 8px;
  margin-bottom: 45px;
  background: #fff;
  border: 1px solid #6070ff;
  font: 1em "Poppins", sans-serif;
  font-weight: 500;
  color: #6070ff;
  font-size: 17px;
  padding: 12px 16px;
  align-items: center;
}

button:hover {
  background-color: #396df2;
  color: #fff;
}

@media screen and (max-width: 768px) {
  nav {
    position: initial;
    background: #fff;
    padding: 0 14px;
    top: auto;
    left: auto;
    width: 100%;
  }

  .humburger {
    display: initial;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .navbar-nav {
    flex-direction: row;
    display: none;
    justify-content: space-between;
    list-style: none;
    text-align: center;
  }

  #top {
    padding-top: 300px;
  }

  .intro-name {
    max-width: 350px;
  }

  .intro-details {
    width: 327px;
    height: auto;
  }

  .socials {
    width: auto;
    height: auto;
  }

  form {
    flex-direction: column;
    align-items: center;
  }

  #form-details {
    width: 327px;
    height: 102px;
    font-size: 20px;
    margin: 12px 24px 87px 24px;
  }

  .form-section {
    display: flex;
    flex-direction: column;
    margin-inline: 18% 10%;
    width: 375px;
  }

  #snap {
    width: 295px;
    height: 220px;
  }

  #work-writeup {
    font-size: 16px;
    padding: 5px;
    line-height: 24px;
    order: 1;
    flex-grow: 0;
    width: 295px;
  }

  #intro-section {
    width: 100vh;
    height: 250px;
  }

  #intro-details-foot {
    width: 100%;
    height: 250px;
  }

  .work-section {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    padding: 16px 16px 28px 16px;
  }

  .snap {
    padding: 0;
  }

  .work-section-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    padding: 0;
  }

  .work-button {
    margin: 0;
  }

  .about-self,
  .about-self-content {
    display: flex;
    flex-direction: column;
  }

  .languages {
    display: flex;
    flex-direction: column;
  }

  .language {
    flex: 1;
    width: 303px;
    display: inline-flex;
    flex-direction: row;
    margin-bottom: 5px;
  }

  .language p {
    display: flex;
    align-items: center;
  }

  #language-section {
    line-height: 24px;
  }

  .introsection {
    background: #fff url("../img/header-shapes-mobile.png");
    background-repeat: no-repeat;
    background-size: contain;
    border-bottom-left-radius: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 24px;
  }

  .introsection-text {
    width: 100%;
    line-height: 30px;
    padding-top: 114px;
  }
}
