@import url('http://fonts.googleapis.com/css?family=Poppins:wght@300,400,500,700');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(img/header-shapes-mobile.png);
  background-repeat: no-repeat;
  font-family: 'Poppins', sans-serif;
}

nav {
  display: flex;
}

.navbar {
  display: inline-flex;
}

.socials li {
  margin-right: 15px;
}

ul.navbar {
  list-style: none;
  margin: 10px;
}

a.toggler-icon {
  color: #6070ff;
  display: flex;
  justify-content: flex-end;
}

a.logo {
  display: flex;
  font-weight: bold;
  color: #6070ff;
  text-decoration: none;
  margin-right: 250px;
}

a.logo:hover {
  text-decoration: underline;
}

#intro {
  color: #172b4d;
  margin: 150px 24px 12px 24px;
  font-size: 40px;
  line-height: 52px;
}

#intro-details {
  margin: 12px 24px 12px 24px;
  color: #344563;
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
}

#intro-connect {
  color: #7f8cff;
  margin: 1px 24px 5px 24px;
  font-size: 16px;
  font-weight: 500;
}

.socials {
  display: flex;
  list-style: none;
  margin-left: 22px;
}

.works-container {
  align-items: center;
  padding: 14px;
  margin: 88px 20px;
  background-color: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  width: 327px;
  height: 552px;
}

.card {
  background-color: #fff;
  border-radius: 5px;
}

h1.card-title {
  color: #172b4d;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  order: 0;
  flex-grow: 0;
}

.work-details {
  display: flex;
}

.work-item {
  font-weight: 500;
  font-size: 13px;
  padding: 5px;
  color: #7a869a;
  line-height: 16px;
}

.work-writeup {
  color: #344563;
  font-weight: 400;
  font-size: 16px;
  padding: 5px;
  line-height: 24px;
  order: 1;
  flex-grow: 0;
}

.counter {
  border-radius: 30px;
  width: 8px;
  height: 8px;
  margin-top: 7px;
  background: #c1c7d0;
}

.work-description {
  color: #344563;
  font-weight: 600;
  font-size: 13px;
  padding: 5px;
  line-height: 16px;
}

#tool {
  background-color: #ebebff;
  border-radius: 8px;
  padding: 10px;
  margin: 5px;
  list-style: none;
}

.work-button {
  display: flex;
  letter-spacing: 0.03em;
  color: #396df2;
  text-decoration: none;
  width: 100px;
  height: 24px;
  font-weight: 500;
  margin: 5px;
}

.work-tools {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  display: flex;
}

#projects {
  border-radius: 10px;
  align-items: center;
  text-align: center;
  border: 1px solid #396df2;
  width: 120px;
  padding: 10px 5px;
  margin: 10px;
}

.resume-button {
  display: flex;
  letter-spacing: 0.03em;
  color: #396df2;
  text-decoration: none;
  height: 24px;
  font-weight: 500;
  margin: 10px;
}

#resume {
  border-radius: 10px;
  border: 1px solid #396df2;
  width: 200px;
  padding: 5px;
  margin: 20px;
}

#language-section {
  font-size: 20px;
  font-weight: 500;
  margin-left: 20px;
  line-height: 24px;
  display: flex;
}

.languages {
  list-style: none;
  margin: 40px;
  flex-wrap: wrap;
}

.language {
  background-color: #f7f7f9;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
  color: #253858;
  font-size: 15px;
  font-weight: 500;
  align-items: center;
  width: 303px;
  display: flex;
}

/* Idea gotten from W3schools */

.lang-arrow {
  border: solid #acb7c3;
  border-width: 0 3px 3px 0;
  padding: 3px;
  margin-left: 100px;
  display: flex;
}

.lang-arrow-html {
  border: solid #acb7c3;
  border-width: 0 3px 3px 0;
  padding: 3px;
  margin-left: 140px;
  display: flex;
}

.lang-arrow-css {
  border: solid #acb7c3;
  border-width: 0 3px 3px 0;
  padding: 3px;
  margin-left: 150px;
  display: flex;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.framework {
  padding: 5px;
  border-bottom-style: solid;
  border-bottom-color: #dfe1e6;
  width: 300px;
  margin-left: 12px;
  margin-bottom: 10px;
  border-bottom-width: thin;
}

#framework-section {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  display: flex;
  padding: 5px;
}

form {
  background-color: #6070ff;
  background-repeat: no-repeat;
  border-top-left-radius: 60px;
  margin-top: 113px;
  align-items: center;
  text-align: center;
  width: 375px;
  height: 779px;
  display: flex;
}

.form-section p {
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  padding: 12px 24px;
  margin-bottom: 57px;
}

.form-header {
  margin-top: 103px;
  margin-bottom: 12px;
  width: 375px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
}

form ul {
  list-style: none;
}

input,
textarea {
  width: 327px;
  height: 50px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  font: 1em 'Poppins', sans-serif;
  padding: 15px 38px 15px 16px;
}

input::placeholder {
  color: #172b4d;
}

textarea {
  height: 170px;
  width: 327px;
}

button {
  display: flex;
  flex-direction: row;
  width: 140px;
  height: 48px;
  border-radius: 8px;
  margin-left: 24px;
  margin-bottom: 45px;
  background: #fff;
  border: 1px solid #6070ff;
  font: 1em 'Poppins', sans-serif;
  font-weight: 500;
  color: #6070ff;
  font-size: 17px;
  padding: 12px 16px;
}

@media (min-width: 362px) {
  /* Mobile View */
}
